<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ラーメン屋のネット注文</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/noodle.css}" />
  </head>
  <body>
    <div class="container">
      <span th:insert="fragment_part::frag_header"></span>
      <div class="row">
        <div
          class="
            col-lg-offset-2
            col-lg-8
            col-md-offset-2
            col-md-8
            col-sm-12
            col-xs-12
          "
        >
          <p
            th:text="${insertSuccess}"
            class="text-center"
            style="color: green; font-weight: bold"
          ></p>
          <!-- 背景をグレーに、埋め込んだようなコンポーネント -->
          <div class="well">
            <form
              method="post"
              action="item_list_noodle.html"
              enctype="multipart/form-data"
              th:action="@{/admin/item/insert}"
              th:object="${itemInsertForm}"
            >
              <fieldset>
                <legend>商品登録</legend>
                <table class="table table-striped">
                  <tr>
                    <th nowrap>商品名</th>
                    <td>
                      <label
                        class="error-messages"
                        th:errors="*{name}"
                        style="color: red"
                        >商品名エラーメッセージ</label
                      >
                      <input
                        type="text"
                        th:field="*{name}"
                        class="form-control"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th nowrap>写真</th>
                    <td>
                      <label
                        class="error-messages"
                        th:errors="*{uploadFile}"
                        style="color: red"
                        >アップロードファイルエラーメッセージ</label
                      ><br />
                      <label
                        for="uploadFile"
                        th:if="${filesizeExceedException}"
                        th:text="${filesizeExceedException}"
                        style="color: red"
                      ></label>
                      <input
                        type="file"
                        th:field="*{uploadFile}"
                        accept=".jpg,.png,image/jpeg,image/png"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th nowrap>商品説明</th>
                    <td>
                      <label
                        class="error-messages"
                        th:errors="*{description}"
                        style="color: red"
                        >商品説明エラーメッセージ</label
                      >
                      <textarea
                        th:field="*{description}"
                        class="form-control"
                      ></textarea>
                    </td>
                  </tr>
                  <tr>
                    <th nowrap>商品サイズ価格</th>
                    <td>
                      <label
                        class="error-messages"
                        th:errors="*{priceM}"
                        style="color: red"
                        >商品サイズ価格エラーメッセージ</label
                      ><br />
                      <label
                        class="error-messages"
                        th:errors="*{priceL}"
                        style="color: red"
                        >商品サイズ価格エラーメッセージ</label
                      ><br />
                      M:
                      <input
                        type="text"
                        th:field="*{priceM}"
                        class="form-control"
                      /><br />
                      L:
                      <input
                        type="text"
                        th:field="*{priceL}"
                        class="form-control"
                      />
                    </td>
                  </tr>
                </table>
                <button class="btn btn-primary">登録</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <span th:insert="fragment_part::frag_common_scripts"></span>
  </body>
</html>
