<!-- ヘッダー部分 -->
<span th:fragment="frag_header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a
          class="navbar-brand"
          href="item_list_noodle.html"
          th:href="@{/item/list}"
        >
          <!-- 企業ロゴ -->
          <img
            alt="main log"
            src="../static/../static/img_noodle/header_logo.png"
            th:src="@{/img_noodle/header_logo.png}"
            th:href="@{/item/list}"
            height="35"
          />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div
        th:unless="${#httpServletRequest.requestURI} == '/'"
        class="collapse navbar-collapse"
        id="bs-example-navbar-collapse-1"
      >
        <p class="navbar-text navbar-right">
          <a
            th:unless="${#httpServletRequest.requestURI} == '/user/toInsert'"
            href="cart_list.html"
            th:href="@{/cart/list}"
            class="navbar-link"
            >ショッピングカート</a
          >&nbsp;&nbsp;
          <a
            th:unless="${#httpServletRequest.requestURI} == '/user/toInsert'"
            href="order_history.html"
            th:href="@{/order/history}"
            class="navbar-link"
            >注文履歴</a
          >&nbsp;&nbsp;
          <a
            th:if="${#httpServletRequest.requestURI} == '/user/toInsert'"
            href="login.html"
            th:href="@{/}"
            class="navbar-link"
            >ログイン</a
          >&nbsp;&nbsp;
          <a
            th:unless="${#httpServletRequest.requestURI} == '/user/toInsert'"
            id="logoutSpan"
            class="navbar-link"
            >ログアウト</a
          >
        </p>
        <form
          id="logoutForm"
          href="login.html"
          th:action="@{/logout}"
          class="navbar-link"
          method="post"
        ></form>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</span>

<!-- 共通script -->
<span th:fragment="frag_common_scripts">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script
    src="../static/js/bootstrap.min.js"
    th:src="@{/js/bootstrap.min.js}"
  ></script>
  <script th:src="@{/js/common.js}"></script>
</span>
