<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ラーメン屋のネット注文</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/noodle.css}" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <span th:insert="fragment_part::frag_header"></span>

      <!-- search form -->
      <div class="row">
        <div
          class="
            col-lg-offset-3
            col-lg-6
            col-md-offset-2
            col-md-8
            col-sm-10
            col-xs-12
          "
        >
        <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">商品を検索する</div>
            </div>
            <div class="panel-body">
              <form
                class="form-horizontal"
                th:action="@{/item/search}"
                method="post"
                th:object="${itemSearchForm}"
              >
                <div class="form-group">
                  <label for="name" class="control-label col-sm-2"
                    >商品名</label
                  >
                  <div class="col-sm-9">
                    <input
                      id="fuzzySearchName"
                      type="text"
                      th:field="*{name}"
                      class="form-control input-sm"
                    />
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" value="検索" class="btn btn-primary">
                    検索
                  </button>
                  <button id="resetButton" type="button" value="クリア" class="btn btn-default">
                    クリア
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- 検索結果section -->
      <section th:object="${itemSearchForm}">
        <div
          class="text-center searchResult alert alert-danger"
          th:if="${#fields.hasErrors('name')}"
        >
          <span th:errors="*{name}">該当商品なし</span>
        </div>
        <div th:if="${ResultByFuzzySearch}" class="text-center searchResult">
          <span th:text="${ResultByFuzzySearch}">検索結果は〇〇件です</span>
        </div>
      </section>

      <!-- table -->
      <div class="row">
        <div
          class="
            table-responsive
            col-lg-offset-1
            col-lg-10
            col-md-offset-1
            col-md-10
            col-sm-10
            col-xs-12
          "
        >
          <table class="table table-striped item-list-table">
             <tbody>
              <div th:each="item,status : ${itemList}">
                <div th:if="${status.index % 3 == 0}"><tr></div>
                <th>
                  <a
                    href="item_detail.html"
                    th:href="@{'/item/detail?id='} + ${item.id}"
                  >
                    <img
                      src="../static/img_noodle/1.jpg"
                      th:src="@{/img_noodle/} + ${item.imagePath}"
                      class="img-responsive img-rounded item-img-center"
                      width="200"
                      height="600"
                    /> </a
                  ><br />
                  <a
                    href="item_detail.html"
                    th:href="@{/item/detail?id=} + ${item.id}"
                  >
                    <span th:text="${item.name}">とんこつラーメン</span> </a
                  ><br />
                  <span class="price">&nbsp;М&nbsp;</span>
                  <span th:text="${item.priceM}">&nbsp;&nbsp;1,380円</span
                  ><br />
                  <span class="price">&nbsp;Ｌ&nbsp;</span>
                  <span th:text="${item.priceL}">&nbsp;&nbsp;2,380円</span
                  ><br />
                </th>
                <div th:if="${status.index % 3 == 2}"></tr></div>
                <div th:if="${status.last}">
                  <span th:unless="${status.index % 3 == 2}"></tr></span>
                </div>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end container -->
    <span th:insert="fragment_part::frag_common_scripts"></span>
  </body>
</html>
