<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ラーメン屋のネット注文</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/noodle.css}" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <span th:insert="fragment_part::frag_header"></span>

      <!-- table -->
      <div class="row">
        <div
          class="
            table-responsive
            col-lg-offset-1
            col-lg-10
            col-md-offset-1
            col-md-10
            col-sm-10
            col-xs-12
          "
        >
          <h3 class="text-center">注文履歴確認</h3>
        <label th:if=${#lists.isEmpty(orderList)} style="color: red" class="text-center">注文履歴がありません</label>
        <div th:unless=${#lists.isEmpty(orderList)}>
          <table class="table table-striped item-list-table">
            <tbody>
              <tr>
              	<th>
              		<div class="text-center">注文日</div>
              	</th>
                <th>
                  <div class="text-center">商品名</div>
                </th>
                <th>
                  <div class="text-center">サイズ、価格(税抜)、数量</div>
                </th>
                <th>
                  <div class="text-center">トッピング、価格(税抜)</div>
                </th>
                <th>
                  <div class="text-center">小計</div>
                </th>
              </tr>
              <div th:each="order : ${orderList}">
              <tr th:each="orderItem : ${order.orderItemList}">
              	<td>
              		<span th:text="${#dates.format(order.orderDate,'yyyy年MM月dd日')}">注文日が入ります</span>
              	</td>
                <td>
                  <div class="center">               	
                    <img
                      src="../static/img_noodle/1.jpg"
                      th:src="@{'/img_noodle/'} + ${orderItem.item.imagePath}"
                      class="img-responsive img-rounded item-img-center"
                      width="100"
                      height="300"
                    /><br />
                    <span th:text="${orderItem.item.name}"
                      >商品名が入ります</span
                    >
                  </div>
                </td>
                <td>
                  <span class="price"
                    >&nbsp;
                    <span th:text="${orderItem.size}"></span>
                  </span>
                  &nbsp;&nbsp;<span
                    th:if="${orderItem.item.priceM}"
                    th:text="${orderItem.item.priceM}"
                    >Mサイズの価格</span
                  >
                  <span
                    th:if="${orderItem.item.priceL}"
                    th:text="${orderItem.item.priceL}"
                    >Lサイズの価格</span
                  >円 &nbsp;&nbsp;
                  <span th:text="${orderItem.quantity} + '個'"></span>
                </td>
                <td>
                  <ul th:each="orderTopping : ${orderItem.orderToppingList}">
                 
                    <span th:if="${orderTopping.topping.name != null}">
                      <li th:if="${#strings.equals(orderItem.size,'M')}">
                        <span
                          th:text="${orderTopping.topping.name} + ' ' + ${orderTopping.topping.priceM} + '円'"
                        ></span>
                      </li>
                      <li
                        th:if="${#strings.equals(orderItem.size,'L') && orderTopping.topping != null}"
                      >
                        <span
                          th:text="${orderTopping.topping.name} + ' ' + ${orderTopping.topping.priceL} + '円'"
                        ></span>
                      </li>
                    </span>

                  
                    <span th:if="${orderTopping.topping.name == null}">
                      トッピングなし</span
                    >
                  </ul>
                </td>
                <td>
                  <div
                    th:text="${orderItem.getSubTotal() + '円'}"
                    class="text-center"
                  ></div>
                </td>
              </tr>
              </div>
            </tbody>
          </table>
         </div> 
        </div>
      </div>
    </div>
    <!-- end container -->
    <span th:insert="fragment_part::frag_common_scripts"></span>
    <script th:src="@{/js/addressSearch.js}"></script>
  </body>
</html>
